{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style.css"/>
{% endblock %}

{% block nav %}{{ navbar('messages', current_user) }}{% endblock %}

{% block main_area %}

<table class="table table-striped" id="comment-list">
<thead>
<tr>
    <th>Messages of interest</th>
</tr>
</thead>
<tbody data-bind="foreach: comments">
<tr data-bind="attr: {id: $data.id}"><td>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a data-bind="attr: {href: $data.author.url}"><span data-bind="text: $data.author.name"></span></a>
                <i class="muted">@ <span data-bind="text: $data.created"></span> for post <a data-bind="attr: {href: $data.post.url}"><span data-bind="text: $data.post.id"></span></a></i>
                
            </div>
        </div>
    </div>
</td></tr>
<tr><td>
    <span data-bind="html: $data.text"></span>
</td></tr>
    </tbody>
</table>

<ul class="pager">
    {% if comments.has_prev %}
    <li class="previous">
        <a href="{{ url_for('social.messages', user=user, page=comments.prev_num) }}">&larr; Prev</a>
    </li>
    {% endif %}
    {% if comments.has_next %}
    <li class="next">
        <a href="{{ url_for('social.messages', user=user, page=comments.next_num) }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>

<script type="text/javascript">
    ko.applyBindings(new CommentFeed([
    {% for comment in comments.items -%}
        {{ comment|comment_json_feed|tojson|safe }},
    {%- endfor %}
    ]), document.getElementById('comment-list'));
</script>

{% endblock %}
