{% extends "main.html" %}

{% block text_area %}
    <div class="row-fluid">
        {% load widget_tweaks %}
        <div class="span12">
            <ul class="nav nav-tabs">
                <li {% if mail.zone.new %}class="active"{% endif %}><a href="/mail/new">Новое сообщение</a></li>
                <li {% if mail.zone.box %}class="active"{% endif %}><a href="/mail">Все{% if mail.unread.box %} ({{ mail.unread.box }}){% endif %}</a></li>
                <li {% if mail.zone.inbox %}class="active"{% endif %}><a href="/mail/inbox">Входящие{% if mail.unread.inbox %} ({{ mail.unread.inbox }}){% endif %}</a></li>
                <li {% if mail.zone.outbox %}class="active"{% endif %}><a href="/mail/outbox">Исходящие{% if mail.unread.outbox %} ({{ mail.unread.outbox }}){% endif %}</a></li>
                <li {% if mail.zone.trash %}class="active"{% endif %}><a href="/mail/trash">Удаленные{% if mail.unread.trash %} ({{ mail.unread.trash }}){% endif %}</a></li>
            </ul>
            {% block mail_text_area %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Тема</th>
                        <th>&nbsp;</th>
                        <th>От кого</th>
                        <th>Кому</th>
                        <th>Отправлено</th>
                        <th>Прочитано</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mail_entity in mail.zone.mail_list %}
                        <tr>
                            <td><a href="/mail/{{ mail_entity.id }}">{% if not mail_entity.read_time %}<i class="icon-envelope"></i> {% endif %}{{ mail_entity.subject}}</a></td>
                            <td>
                                {% if mail.zone.trash %}
                                    <a href="/mail/restore/{{ mail_entity.id }}"><i class="icon-remove"></i></a>
                                    <a href="/mail/delete/{{ mail_entity.id }}"><i class="icon-trash"></i></a>
                                {% else %}
                                    <a href="/mail/delete/{{ mail_entity.id }}"><i class="icon-remove"></i></a>
                                {% endif %}
                            </td>
                            <td><a href="/user/{{ mail_entity.from_user.username }}">{{ mail_entity.from_user.username }}</a></td>
                            <td><a href="/user/{{ mail_entity.to_user.username }}">{{ mail_entity.to_user.username }}</a></td>
                            <td>{{ mail_entity.send_time}}</td>
                            <td>{% if mail_entity.read_time %}{{ mail_entity.read_time }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </div>
{% endblock %}
