{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WAAAGH!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/extern/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/extern/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        #wraptocenter {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding-top: 0;
            padding-bottom: 0;
            height: 40px;
            line-height: 0px;
        }
        #wraptocenter * {
            vertical-align: middle;
        }
            /*\*//*/
            .wraptocenter {
                display: block;
            }
            .wraptocenter span {
                display: inline-block;
                height: 100%;
                width: 1px;
            }
            /**/
    </style>

    {% block styles %}{% endblock %}
    {% dajaxice_js_import %}
    <script type="text/javascript" src="/static/extern/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/extern/jquery.scrollto.js"></script>
    <script type="text/javascript" src="/static/extern/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/knockout-2.1.0.js"></script>
    {% block scripts %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{#    <!-- Le fav and touch icons -->#}
{#    <!--  <link rel="shortcut icon" href="../assets/ico/favicon.ico">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
{#    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->#}
</head>

<body>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
{#  stable.auth: None if user not authorized #}
{#  stable.auth.username: authorized user name #}
{#  stable.auth.unread_mail: unread mail count for current user #}

{#  stable.current_blog: None if not in blog of post #}
{#  stable.current_blog.title#}
{#  stable.current_blog.author#}
{#  stable.current_blog.description#}

{#  stable.current_user: current user (blog owner, user info) data or None #}
{#  stable.current_user.username: current user name #}
{#  stable.current_user.my_user: True if auth is current user #}

{#  stable.side_bar.bookmarks: list of bookmarks #}
{#  stable.side_bar.bookmarks.id #}
{#  stable.side_bar.bookmarks.title #}
{#  stable.side_bar.bookmarks.comments #}
{#  stable.side_bar.bookmarks.new_comments #}

{#  stable.side_bar.tags: list of tags #}
{#  stable.side_bar.tags.title #}
{#  stable.side_bar.tags.post_count #}

{#  stable.side_bar.most_rated: list of most rated posts #}
{#  stable.side_bar.most_rated.post.id #}
{#  stable.side_bar.most_rated.post.rate #}
{#  stable.side_bar.most_rated.post.title #}

{#  stable.side_bar.most_commented: list of most commented posts #}
{#  stable.side_bar.most_commented.post.id #}
{#  stable.side_bar.most_commented.post.title #}

{#  stable.side_bar.online: online user names list #}
{#  stable.blog_ref: "/blog/<current_blog.author>" or ""#}

                <li><a id="wraptocenter" href="/"><img src="/static/images/skull.png"/></a></li>
                {% if stable.auth %}
                    <li {% if blog %}class="active"{% endif %}><a href="/blog/{{ stable.auth.username }}">Блог</a></li>
                    <li {% if bookmarks %}class="active"{% endif %}><a href="/bookmarks">Закладки</a></li>
                {% endif %}
                <li {% if articles %}class="active"{% endif %} ><a href="/articles">Статьи</a></li>
                <li class="divider-vertical"></li>
                <form class="navbar-search pull-left" action="/search" method="GET">
                    <input name="q" type="text" class="search-query span2" placeholder="Поиск">
                </form>
            </ul>
            <ul class="nav pull-right">
                {% if stable.auth %}
                    {% block post_commands %}{% endblock %}
                    {% if stable.auth.unread_mail %}
                        <li><a href="/mail"><span class="badge badge-important">Сообщения: {{ stable.auth.unread_mail }}</span></a></li>
                    {% endif %}
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Написать<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/new_post/">Пост</a></li>
                                <li><a href="/mail/new/">Сообщение</a></li>
                                {% if stable.current_user and not stable.current_user.my_user %}
                                    <li><a href="/mail/new/{{ stable.current_user.username }}">Сообщение [{{ stable.current_user.username }}]</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    {% block post_actions %}{% endblock %}
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">[{{ stable.auth.username }}]<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {#                <li class="divider-vertical"></li>#}
                            {#                <li>#}
                            {#                    <ul class="nav">#}
                            {#                        <li class="dropdown">#}
                            {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Навигация <b class="caret"></b>#}
                            {#                            </a>#}
                            {#                            <ul class="dropdown-menu">#}
                            {#                                <li><a href="/tags">Разделы</a></li>#}
                            {#                                <li><a href="/users">Пользователи</a></li>#}
                            {#                                <li class="divider"></li>#}
                            {#                                <li><a href="/admins">Администраторы</a></li>#}
                            {#                                <li><a href="/rules">Правила</a></li>#}
                            {#                                <li><a href="/help">Помощь</a></li>#}
                            {#                                <li><a href="/about">О ресурсе</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                            {#                    </ul>#}
                            {#                </li>#}
                                <li><a href="/mail">Сообщения{% if stable.auth.unread_mail %} ({{ stable.auth.unread_mail }}){% endif %}</a></li>
                                <li><a href="/settings">Настройки</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
            {% else %}
                <li><a href="/new_user">Регистрация</a></li>
                <li><a href="/login">Вход</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block full_area %}
        <div class="row">
            <div class="span9">
                {% if stable.current_blog %}
                    <div class="page-header">
                        <h1>
                        {% if stable.current_blog.title %}
                            {{ stable.current_blog.title }}
                        {% else %}
                            Блог: {{ stable.current_blog.author }}
                        {% endif %}
                        <a href="/blog/{{ stable.current_blog.author }}">&raquo;</a>
                    {% if stable.current_blog.description %}
                        <br />
                        <small>{{ stable.current_blog.description }}</small>
                    {% endif %}
                        </h1>
                    </div>
                {% endif %}
                {% block text_area %}
                    {% load markup %}
                    {% for post in posts_list.posts %}
                        <div style="margin-bottom: 30px">
                            <div style="overflow: auto;">
                                <div style="float: left;">
                                    <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                                </div>
                                <div style="float: right;">
                                    <h2>{% if post.rate > 0 %}+{% endif %}{{ post.rate }}</h2>
                                </div>
                            </div>
                            <div>
                                <p>{{ post.text|markdown }} {% if post.read_more %}<a href="/post/{{ post.id }}">Читать дальше &rarr;</a>{% endif %}</p>
                                <p>
                                    {% for tag in post.tags.all %}
                                        <a href="{{ stable.blog_ref }}/tag/{{ tag.title }}">{{ tag.title }}</a>,
                                    {% endfor %}
                                </p>
                            </div>

                            <div style="color:#cccccc; overflow: auto;">
                                {% if post.author.get_profile.avatar %}
                                    <div style="height: 36px; float: left; margin-right: 10px"><img src="/static/avatars/{{ post.author.get_profile.avatar }}" style="max-height: 36px" alt=""></div>
                                {% endif %}
                                <div style="float: left;">
                                    <a href="/user/{{ post.author.username }}">{{ post.author.username }}</a>, {{ post.time }},
                                </div>
                                <hr style="margin-bottom: 0px"/>
                                <div style="float: right;">
                                    <a href="/post/{{ post.id }}">Комментарии: {{ post.comments }}{% if post.new_count %} (Новых: {{ post.new_count }}){% endif %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <ul class="pager">
                            {% if posts_list.prev != None %}
                                <li class="previous">
                                    <a href="{{ stable.blog_ref }}{% if stable.current_tag %}/tag/{{ stable.current_tag }}{% endif %}/{{ posts_list.prev }}">
                                    &larr; Предыдущие</a>
                                </li>
                            {% endif %}
                            {% if posts_list.next != None %}
                                <li class="next">
                                    <a href="{{ stable.blog_ref }}{% if stable.current_tag %}/tag/{{ stable.current_tag }}{% endif %}/{{ posts_list.next }}">
                                    Следующие &rarr;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
            </div>

            <div class="span3">
                <div class="well" style="text-align: center">
                    <h2><a href="/hq">HeadQuarters</a></h2>
                    Online Roster Builder
                </div>
{#                <a href="/blog/GreenskinBrothersStudio/"><img style="margin-bottom: 20px;" src="http://www.dabunker.com/static/avatars/164997062297525091984152.jpg"></a>#}
                <div class="well" style="text-align: center">
                    <h2><a href="/_depricated/blog/GreenskinBrothersStudio/">GBS</a></h2>
                    Greenskin Brothers Studio's Blog
                </div>
                {% if stable.side_bar.bookmarks %}
                <div class="well">
                    <p><h4><a href="/bookmarks">Закладки</a></h4></p>
                    {% for bookmark in stable.side_bar.bookmarks %}
                        <p><a href="/post/{{ bookmark.id }}">{{ bookmark.title }}</a> ({{ bookmark.comments }}{% if bookmark.new_comments %}, новых: {{ bookmark.new_comments }}{% endif %})</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="well">
                    <p><h4><a href="/tags">Разделы</a></h4></p>
                    {% for tag in stable.side_bar.tags %}
                        <a href="{{ stable.blog_ref }}/tag/{{ tag.title }}">{{ tag.title }} ({{ tag.post_count }})</a>;
                    {% endfor %}
                </div>
                <div class="well">
                    <p><h4>Популярные</h4></p>
                    {% for post in stable.side_bar.most_rated %}
                        <p>{% if post.rate > 0 %}+{% endif %}{{ post.rate }} <a
                                href="/post/{{ post.id }}">{{ post.title }}</a></p>
                    {% endfor %}
                </div>
                <div class="well">
                    <p><h4>Обсуждаемые</h4></p>
                    {% for post in stable.side_bar.most_commented %}
                        <p><a href="/post/{{ post.id }}">{{ post.title }}</a> ({{ post.comments }})</p>
                    {% endfor %}
                </div>
                <div class="well">
                    <p><h4>Онлайн</h4></p>
                    {% for online_user in stable.side_bar.online %}
                        <a href="/user/{{ online_user }}">{{ online_user }}</a>,
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

    <hr>
    <footer>
        <p>&copy; www.DaBunker.com</p>
    </footer>

</div>
<!-- /container -->
</body>
</html>
