{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set_comment.js"></script>
    <script type="text/javascript">
        function preview_comment_callback(preview) {
            var alert = "<div class=\"alert alert-error\"> \
                 <button class=\"close\" data-dismiss=\"alert\">×</button> \
                 <strong>Внимание!</strong> Это только предварительный просмотр, на забудте отправить пост если Вас все устраивает. \
            </div> "
            $("#preview_area").html(alert + preview.preview_text + '<hr>');
        }
        $(document).ready(function () {
            $("textarea").markItUp(mySettings);
            $("#preview").click(function () {
                Dajaxice.waaagh.multiblog.preview_comment(preview_comment_callback, {
                    'text':$('#id_text').val(),
                    'proc_ref': $('#id_proc_ref').is(':checked'),
                    'proc_images': $('#id_proc_images').is(':checked'),
                    'proc_lines': $('#id_proc_lines').is(':checked')
                });
            })
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style_comment.css"/>
{% endblock %}

{% block text_area %}
<div class="row-fluid">
    <div id='preview_area'>&nbsp;</div>
    <form class="form-horizontal" action="" method="POST">
        <fieldset>
        <div class="control-group">
            <label class="control-label" for="id_text">Текст</label>
            <div class="controls">
                <textarea class="span12" id="id_text" name="text">{{ form.text }}</textarea>
            </div>
        </div>
        {% include "text_autoformat.html" %}
        <div class="form-actions">
            <input id="preview" class="btn" type="button" value="Предпросмотр">
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
        </fieldset>
    </form>
</div>
{% endblock %}
