{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set.js"></script>
    {% load compress %}
    {% compress js %}
    <script type="text/javascript" src="/static/scripts/tools.js"></script>
    <script type="text/javascript" src="/static/scripts/edit_post.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style.css"/>
{% endblock %}

{% block text_area %}
<div class="row-fluid" id="new_post" >
    <div id="alert_area">
        <div data-bind="visible: connectionError">
            <div class="alert alert-error">
                <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
            </div>
        </div>
        <div data-bind="visible: emptyText">
            <div class="alert alert-error">
                <strong>Ошибка!</strong> Текст сообщения не может быть пустым.
            </div>
        </div>
        <div data-bind="visible: emptyTitle">
            <div class="alert alert-error">
                <strong>Ошибка!</strong> Заголовок сообщения не может быть пустым.
            </div>
        </div>
        <div data-bind="visible: showPreview">
            <div class="alert alert-warning">
                <button class="close" data-bind="click: previewClose">×</button>
                <strong>Внимание!</strong> Это только предварительный просмотр, на забудте отправить пост если Вас все устраивает.
            </div>
            <div data-bind="html: previewBlock"></div>
            <hr>
        </div>
    </div>
    <form class="form-horizontal" action="" method="POST">
        <fieldset>
        <div class="control-group">
            <label class="control-label">Заголовок</label>
            <div class="controls">
                <input class="span12" id="id_title" type="text" name="title" maxlength="120" data-bind="value: title" value="{{ form.title }}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Текст</label>
            <div class="controls">
                <textarea class="span12" id="id_text" name="text" data-bind="value: text">{{ form.text }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Разделы</label>
            <div class="controls">
                <input class="span12" id="id_tags" type="text" maxlength="300" data-bind="value: tagsString"/>
            </div>
            <div class="controls">
                <div data-bind="foreach: tags">
                <label class="checkbox inline" style="margin-left: 0px; margin-right: 10px">
                <input type="checkbox" data-bind="checked: $data.value"><span data-bind="text: $data.title"></span>
                </label>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Форматирование</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: procRef">Автоматическое распознавание ссылок
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: procImages">Автоматическая вставка изображений
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: procLines">Автоматическое форматирование абзацев
                </label>
            </div>
        </div>
            <div class="control-group" data-bind="visible: poll">
                <label class="control-label">Голосование</label>
                <div class="controls">
                    <div class="input-append" >
                        <input data-bind="value: variant" type="text">
                        <button class="btn" data-bind="click: addVariant"><i class="icon-plus"></i></button>
                    </div>
                    <span class="help-inline">Добавить вариант для голосования</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div data-bind="foreach: variants">
                        <div class="alert alert-info" style="overflow: auto;">
                            <a class="close" data-bind="click: $parent.removeVariant" href="#">×</a>
                            <span data-bind="text: $data"></span>
                        </div>
                    </div>
                    <div data-bind="visible: pollingLimitVisible">
                        <p>
                            <select class="input-mini" data-bind="options: variantNumbers, value: variantCount"></select>
                            <span class="help-inline">Максимальное количество вариантов</span>
                        </p>
                        <p>
                            <select class="input-mini" data-bind="options: pollTimeNumbers, value: pollTime"></select>
                            <span class="help-inline">Максимальный срок голосования (дней)</span>
                        </p>
                    </div>
                </div>
            </div>
        <div class="form-actions">
            <input id="preview" class="btn" type="button" value="Предпросмотр" data-bind="click: preview">
            <input class="btn btn-primary" type="button" value="Отправить" data-bind="click: send">
        </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        ko.applyBindings(new NewPost({% if form.edit %}{{ form.id }}{% else %}undefined{% endif %}, $('#id_title').val(), $('#id_text').val(), [ {% for tag in form.tags %}
                { value: {% if tag.selected %}true{% else %}false{% endif %}, title: "{{ tag.data.title|safe }}" },{% endfor %}
        ] ), document.getElementById("new_post"));
    </script>
</div>
{% endblock %}
