<div>
    <ul>
    {% for variant in post.poll %}
        <li><p>{{ variant.text }}</p>
        <div class="progress">
            <div class="bar" style="width: {{ variant.percent|floatformat:-0 }}%;">{{ variant.percent|floatformat }}% [{{ variant.num }}]</div>
        </div>
        </li>
    {% endfor %}
    </ul>
</div>