{%- macro options_description(options) -%}
    {%- if options -%}
        {%- for option in options -%}
            {%- if option.count %}{{ option.name|safe }}{% if option.count > 1 %} (x{{ option.count }}){% endif %}; {% endif -%}
        {%- endfor -%}
    {% endif %}
{%- endmacro -%}

{%- macro line_description(line) -%}
    {%- if roster.description %}{{ line }}{% endif -%}
{%- endmacro -%}

{%- macro error_description(errors) -%}
    {%- if errors %}
<h4>Errors:</h4>
<ul>
        {%- for error in roster.errors %}
    <li>{{ error }}</li>
        {%- endfor %}
</ul>
    {% endif %}
{%- endmacro -%}

{%- macro unit_description(unit) %}
<h5>{% if unit.description.count > 1 %}{{ unit.description.count }}x - {% endif %}{{ unit.description.name }} ({{ unit.description.points }}pt.)</h5>
<p>{{ options_description(unit.description.options) }}</p>
    {% if unit.description.sub_units %}
<ul>
        {%- for unit in unit.description.sub_units recursive -%}

            {%- if unit.sub_units|length %}
    <li>
        <h5>{% if unit.count > 1 %}{{ unit.count }}x - {% endif %}{{ unit.name }}({{ unit.points }}pt.)</h5>
        <p>{{ options_description(unit.options) }}</p>
        <ul>
            {{ loop(unit.sub_units) }}
        </ul>
    </li>
            {%- else %}
    <li><strong>{{ unit.count }}x - {{ unit.name }} {% if unit.points %}({{ unit.points }}pt.){% endif %};</strong> {{ options_description(unit.options) }}</li>
            {%- endif -%}
        {%- endfor -%}
</ul>
    {% endif %}
{%- endmacro -%}

{%- macro section_description(section) -%}
    {%- if section.units|length %}

        <h4>{{ section.name }} [ {{ section.units|length }} ]</h4>
        {%- for unit in section.units %}
            {{ unit_description(unit) }}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro section_header(section) -%}
    <h4>{{ section.name }} [ {{ section.units|length }} ]</h4>
{%- endmacro -%}

{%- macro build_detach_unit(unit) %}
<h4>{{ unit.description.name|safe }}</h4>
{%- for option in unit.options -%}
        {%- if option.roster.options_description %}
            <p>
                {%- for option in option.roster.options_description -%}
                    <em>{{ option.name|safe }};</em>
                {%- endfor -%}
            </p>
        {% endif -%}
        {%- if option.type == 'formation' %}
{{ build_formation(option.roster) }}
        {%- else %}
{{ build_roster(option.roster) }}
        {%- endif -%} 
    {%- endfor -%}
{%- endmacro -%}

{%- macro build_formation(formation) -%}
    {%- if formation.units|length %}
        {%- for unit in formation.units -%}
            {%- if unit.detach_unit -%}
{{ build_detach_unit(unit) }}
            {%- else -%}
{{ unit_description(unit) }}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro build_roster(roster) -%}
    {%- for section in roster.sections -%}
        {%- if section.units|length %}
{{ section_header(section) }}
            {%- for unit in section.units -%} 
                {%- if unit.detach_unit %}
{{ build_detach_unit(unit) }}
                {%- else %}
{{ unit_description(unit) }}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor %}
{%- endmacro -%}


            <h3><a href="{{ url_for('builder.shared_roster', roster_id=roster.id, _external=True) }}">{{ roster.name }} ({{ roster.points }}/{% if roster.limit %}{{ roster.limit }}{% else %}Unlimited {% endif %}pt.)</a></h3>
{% if roster.options_description -%}<p>{{ options_description(roster.options_description) }}</p>{%- endif -%}
{{ line_description(roster.description) }}
{{ error_description(roster.errors) }}
{{ build_roster(roster) }}
{% if roster.statistics -%}
    <h4>Statistics</h4>
    {% for item in roster.statistics -%}
        <p><b>{{ item }}: </b> {{ roster.statistics[item] }}</p>
    {% endfor %}
{% endif %}
<p><a href="http://hq-builder.com">Created by Head Quarters - online roster builder</a></p>
