{% macro post_form(current_user, hello) %}
<form id="post-form">
    {% if current_user.is_authenticated %}
    <div data-bind="visible: preview.show(){% if hello %}&&!hello(){% endif %}">
        <div class="alert alert-danger">
            <button class="close" data-bind="click: preview.close">×</button>
            <strong>Warning!</strong> It's only preview, don't forget public your post.
        </div>
        <div data-bind="html: preview.block"></div>
    </div>
    {% if hello %}
    <div class="form-group">
        <input class="form-control" type="text" maxlength="120" data-bind="value: title, click: title.click, attr: {placeholder: title.placeholder}"/>
    </div>
    {% endif %}
    <div {% if hello %}data-bind='visible: !hello()'{% endif %}>
        <div class="form-group">
            <textarea class="form-control" data-bind="value: text, visible: !text.more()" placeholder="Your text here..." rows="5"></textarea>
        </div>
        <div class="form-group" data-bind="visible: text.more()">
            <textarea id='marked-text' class="form-control" rows="12" data-bind="value: text"></textarea>
        </div>
        <div class="form-group" data-bind="visible: poll.visible()">
            <div class="col-md-5">
                <div class="row" data-bind="foreach: poll.pollvariants">
                    <div class="input-group">
                        <input class="form-control" type="text" data-bind="value: text" placeholder="Variant">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: $parent.poll.remove_pollvariant"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </div> 
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: poll.add_pollvariant">Add poll variant</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <input class="form-control" type="text" data-bind="value: tag" placeholder="Tag">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: tag.add"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>              
            </div>

        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="pull-right">
                    <input class="btn btn-primary" type="button" value="Send" data-bind="click: send">
                    <input class="btn btn-default" type="button" value="Preview" data-bind="click: preview">
                    <input class="btn btn-default" type="button" value="Edit more" data-bind="click: text.more.click, css: {'btn-primary': text.more()}">
                    <input class="btn btn-default" type="button" value="Poll" data-bind="click: poll.visible.click, css: {'btn-primary': poll.visible()}">
                    {% if hello %}<input class="btn btn-default" type="button" value="Cancel" data-bind="click: cancel">{% endif %}
                </div>
            </div>
        </div>
        <div data-bind="foreach: tags">
            <a data-bind="click: $parent.removeTag" class="label label-default" href="#"><span data-bind="text: $data"></span> &times;</a>
        </div>
    </div>
    {% endif %}
</form>
{% endmacro %}
