{% extends "main.html" %}

{% set label_area = 4 %}
{% set field_area = 12 - label_area %}

{%- macro settings_form_field(field, size, mark=False) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label col-md-{{ label_area }}">{{ field.label.text }} {% if mark %}*{% endif %}</label>
        <div class="col-md-{{ field_area }}">
            {{ field(class="form-control", size=size) }}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
{%- endmacro -%}

{% block container %}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form id="settings" method="post" class="form-horizontal">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

                <div class="form-group">
                    {{ form.csrf_token }}
                </div>
                {{ settings_form_field(form.password, 90) }}
                <hr/>
                {{ settings_form_field(form.email, 120) }}
                {{ settings_form_field(form.name, 120) }}
                <hr/>
                {{ settings_form_field(form.new_password, 90, mark=True) }}
                {{ settings_form_field(form.repeat_password, 90, mark=True) }}
            <div class="form-group">
                <div class="col-md-offset-{{ label_area }} col-md-{{ field_area }}">
                    <p class="text-muted">* Keep these fields blank if you do not want to change the password.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-{{ label_area }} col-md-{{ field_area }}">
                    <button class="btn btn-primary" data-bind="click: save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

