{% extends 'main.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style.css"/>
    <style type="text/css">
        .post-body {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto 10px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .comment-body {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set.js"></script>
    <script>
        $(document).ready(function () {
            $("#marked-text").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block container %}
{% include "elements/../../../../templates/partial/info_modal.html" %}
    <div class="row-fluid">
    <div class="offset2 span8">
        <div class="row-fluid">
        <div id="post-form">
            {% if current_user.is_authenticated() %}
            <div data-bind="visible: preview.show()&&!hello()">
                <div class="alert alert-danger">
                    <button class="close" data-bind="click: preview.close">×</button>
                    <strong>Warning!</strong> It's only preview, don't forget public your post.
                </div>
                <div data-bind="template: { data: preview.block, name: 'post' }"></div>
            </div>
            <input class="span12" type="text" maxlength="120" data-bind="value: title, click: title.click, attr: {placeholder: title.placeholder}"/>
            <div data-bind='visible: !hello()'>
                <textarea class="span12" data-bind="value: text, visible: !text.more()" placeholder="Your text here..." rows="5"></textarea>
                <div data-bind="visible: text.more()">
                    <textarea id='marked-text' class="span12" data-bind="value: text"></textarea>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">
                        <div class="input-append">
                            <input type="text" data-bind="value: tag" placeholder="Tag" data-provide="typeahead" data-source='["asdf", "qwer"]'>
                            <button class="btn" type="button" data-bind="click: tag.add"><i class="icon-plus"></i></button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <input class="btn btn-primary" type="button" value="Send" data-bind="click: send">
                        <input class="btn" type="button" value="Preview" data-bind="click: preview">
                        <input class="btn" type="button" value="Edit more" data-bind="click: text.more.click, css: {'btn-primary': text.more()}">
                        <input class="btn" type="button" value="Cancel" data-bind="click: cancel">
                    </div>
                </div>
                <div data-bind="foreach: tags" style="margin-bottom: 10px">
                    <a data-bind="click: $parent.removeTag" class="label" href="#"><span data-bind="text: $data"></span> &times;</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="post-list">
            <div data-bind="template: { foreach: posts, name: 'post' }"></div>
            {%- if not post %} {# this is single post, and we don't need More button for it #}
            <div class="row-fluid">
                <div class="pull-right" >
                    <a href="#" data-bind="click: more.click, visible: more">More...</a>
                    <span class="muted" data-bind="visible: more.loading"><em>loading...</em></span>
                    <span class="muted" data-bind="visible: more.noMore"><em>nothing more...</em></span>
                </div>
            </div>
            {%- endif %}
        </div>
        </div>
    </div>
</div>

    <script type="text/html" id="comment-form">
    {% if current_user.is_authenticated() %}
    <div class="comment-body">
        <textarea class="input-block-level" placeholder="Your comment here..."
                  data-bind="value: commentForm.text, attr: {rows: commentForm.hello()?1:4}, click: commentForm.click"></textarea>

        <div class="row-fluid" data-bind="visible: !commentForm.hello()">
            <div class="pull-right" style="margin-bottom: 10px">
                <input class="btn btn-mini btn-primary" type="button" value="Send"
                       data-bind="click: commentForm.send">
                <input class="btn btn-mini" type="button" value="Cancel" data-bind="click: commentForm.cancel">
            </div>
        </div>
    </div>
    {% endif %}
    </script>

    <script type="text/html" id="user">
        <small>
            <span class="dropdown">
                <a class="dropdown-toggle" data-bind="text: user" data-toggle="dropdown" href="#"></a>
                <ul class="dropdown-menu">
                    <li><a data-bind="attr: {href: userUrl}">Blog</a></li>
                </ul>
            </span>
            <span class="muted"> @ <span data-bind="text: time"></span></span>
        </small>
    </script>

    <script type="text/html" id="comment">
        <div class="comment-body" data-bind="visible: $data.visible(), attr: {id: $data.commentId()}">
            <small>
                <span data-bind="visible: $data.parent()"><a href="#" class="label" data-bind="text: $data.parent()?$data.parent().user():0, click: $parent.comments.chain"></a></span>
                <span data-bind="html: $data.text, visible: !$data.deleted()"></span>
                <span data-bind="visible: $data.deleted()"><span class="muted"><em>comment deleted ...</em></span></span>
            </small>
            <div class="row-fluid">
                <div class="pull-left">
                    <div data-bind='template: {name: "user", data: $data}'></div>
                </div>
                <div class="pull-right">
                    <small>
                        {% if current_user.is_authenticated() %}
                        <a href="#" data-bind="click: $parent.comments.answer">answer</a>
                        <span data-bind="visible: !$data.readOnly()&&!$data.deleted()" class="dropdown">
                            - <a class="dropdown-toggle" data-toggle="dropdown" href="#">fix</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-bind="click: $parent.comments.edit">edit</a></li>
                                <li><a href="#" data-bind="click: $parent.comments.delete">delete</a></li>
                            </ul>
                        </span>
                        {% endif %}
                        <span data-bind="visible: $parent.comments.chainMode">- <a href="#" data-bind="click: $parent.comments.showAll">all</a></span>
                    </small>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="post">
        <div class="post-body" data-bind="attr: {id: postId()}">
            <div class="row-fluid">
                <h3 class="pull-left">
                    <a data-bind="attr: {href: postUrl}">
                        <span data-bind="visible: title(), text: title"></span>
                        <span data-bind="visible: !title()"><span data-bind="text: user"></span><span class="muted"> @ <span data-bind="text: time"></span></span></span>
                    </a>
                </h3>
{#                <h3 class="pull-right"><a data-bind="attr: {href: postUrl}"><span class="muted">#</span></a></h3>#}
            </div>
            <div data-bind="visible: !readedMore()">
                <div data-bind="html: head"></div>
                <div class="row-fluid">
                    <div class="pull-right" data-bind="visible: readMore(), click: readMoreClick"><a href="#">More...</a></div>
                </div>
            </div>
            <div data-bind="visible: readedMore()">
                <div data-bind="html: text"></div>
                <div class="row-fluid">
                    <div class="pull-right" data-bind="visible: readMore(), click: readMoreClick"><a href="#">Less...</a></div>
                </div>
            </div>
            <hr/>
            <div data-bind="foreach: tags">
                <a class="label label-warning" data-bind="attr: {href: $data.url}"><span data-bind="text: $data.name"></span></a>
            </div>
            <div class="row-fluid">
                <div class="pull-left">
                    <div data-bind='template: {name: "user", data: $data}'></div>
                </div>
                <div class="pull-right">
                    <small>
                        <a href="#" data-bind="click: comments.show.click">comments: <span data-bind="text: comments.count"></span></a>
                        <span data-bind="visible: !readOnly()" class="dropdown">
                            - <a class="dropdown-toggle" data-toggle="dropdown" href="#">fix</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-bind="click: $parent.editPost">edit</a></li>
                                <li><a href="#" data-bind="click: $parent.deletePost">delete</a></li>
                            </ul>
                        </span>
                    </small>
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: comments.show()">
                <div data-bind='template: {if: !comments.answerComment()&&!comments.editComment(), name: "comment-form"}'></div>
                <div data-bind='template: {foreach: comments, name: "comment"}'></div>
                <div data-bind='template: {if: comments.answerComment()||comments.editComment(), name: "comment-form"}'></div>
            </div>
        </div>
    </script>

<script>
    {%- if current_user.is_authenticated() %}
    document.reader_id = {{ current_user.id|tojson|safe }};
    {%- endif %}
    var info = new Info('infoModal', function() { $('#infoModal').modal(); });
    var postTransport = new AjaxTransport({{ url_for('blog.update_post')|tojson|safe }}, info);
    var postList = new PostList({posts: {{ posts|tojson|safe }}, postTransport: postTransport, info: info, tag: {{ tag|tojson|safe }}, user: {{ user|tojson|safe }}});
    ko.applyBindings(postList, document.getElementById('post-list'));
    var postForm = new PostForm({name: {{ current_user.name|tojson|safe }}, transport: postTransport, info: info, onSend: postList.onPostFormSend, onCancel: postList.onPostFormCancel});
    postList.setPostForm(postForm);
    ko.applyBindings(postForm, document.getElementById('post-form'));
</script>
{% endblock %}
