<footer>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left text-muted">&copy; <a href="{{ url_for('builder.main') }}">www.hq-builder.com</a> |
            <a href="mailto:kurvivor19@yandex.ru?subject=support">support</a> |
            <a href="mailto:kurvivor19@yandex.ru?subject=bug">bug report</a> |
            <a href="https://t.me/hqbuilder">telegram channel</a>
            </div>
            <div class="pull-right">
                <a href="https://twitter.com/hqbuilder"><img class="social" src="/static/extern/glyphicons/png/glyphicons_411_twitter.png"></a>
                <a href="http://www.facebook.com/hqbuilder"><img class="social" src="/static/extern/glyphicons/png/glyphicons_410_facebook.png"></a>
                <a href="https://plus.google.com/103302169497502333419" rel="publisher"><img class="social" src="/static/extern/glyphicons/png/glyphicons_382_google_plus.png"></a>
            </div>
        </div>
    </div>
</footer>
